
	<head>
		<title>Michael Guerrero Resume</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/js/init.js"></script>
		<script src="https://kit.fontawesome.com/4fbd95cda9.js" crossorigin="anonymous"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
		</noscript>
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">	
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
		